.bountyType_title {
  font-size: 1.15em;
  margin-bottom: 3rem;
}
.bountyDesc_extras {
  /* border: 1px solid black; */
  display: flex;
  margin: 1rem 0rem;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}
.bountyDesc_extras h3 {
  font-size: 0.9em;
  color: #374147;
}
.bountyDesc_extras p {
  font-size: 0.75em;
  font-weight: 500;
  color: #374147;
}
.socialLinks {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.bountyDesc {
  margin-top: 0.5rem;
  background-color: #c3dbea;
  padding: 1rem;
  border-radius: 8px;
}
.bountyDesc_outer h3 {
  font-size: 0.9em;
  color: #374147;
}
.mdx {
  font-size: 0.85em;
  font-weight: 400;
  color: #374147;
}
.mdx p {
  padding: 0.25rem 0rem;
}
.mdx h1,
.mdx h2,
.mdx h3,
.mdx h4,
.mdx h5,
.mdx h6 {
  padding: 0.5rem 0rem;
  font-weight: 600;
  color: black;
}
.mdx ul,
.mdx ol {
  padding: 0.25rem 0rem;
  margin-left: 2rem;
}
.mdx li {
  list-style: disc;
}
@media screen and (min-width: 720px) {
  .bountyType_title {
    font-size: 1.5em;
  }
  .bountyDesc_extras h3 {
    font-size: 1.05em;
  }
  .bountyDesc_outer h3 {
    font-size: 1.05em;
  }
  .bountyDesc_extras p {
    font-size: 0.85em;
  }
  .bountyDesc {
    padding: 1.25rem;
    font-size: medium;
  }
}
