.bounty {
  margin: 1.5rem 0rem;
  /* border: 1px solid red; */
  padding: 2rem;
  border-radius: 8px;
  background-color: #c3dbea;
}
.bounty_price_status_outer {
  /* border: 1px solid black; */
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.bounty_price {
  font-weight: 800;
  font-size: 1.25em;
  color: black;
}
.bounty_status p {
  font-size: x-small;
}
.bounty_status {
  width: fit-content;
  padding: 3px 8px;
  border-radius: 20px;
  background-color: #a0b9ca;
  color: #313a41;
}
.bounty_title {
  margin: 0.8rem 0rem;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.bounty_title h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.2em;
  color: black;
}
.bountyAllTags {
  display: flex;
  gap: 0.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bounty_subTitle {
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0.8rem;
  color: #374147;
}
.bounty_reqskills_title {
  font-weight: 600;
  font-size: small;
  color: #374147;
}
.extra_inf {
  display: flex;
  margin-top: 0.8rem;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}
.extra_inf p {
  font-size: 0.75em;
  font-weight: 600;
  color: #374147;
  width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.extra_inf div {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.extra_inf div span {
  font-size: smaller;
  font-weight: 700;
  color: #374147;
}
.user_icon {
  font-size: small;
  color: #374147;
}
