.each_bountyTypes {
  background-color: #c3dbea;
  padding: 1rem;
  width: 100%;
  border-radius: 8px;
  margin-top: 0.7rem;
  height: fit-content;
  cursor: pointer;
}
.bounty_types_title {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.bounty_type_subTitle {
  margin-top: 1rem;
  font-size: small;
  font-weight: 500;
  color: #48565f;
}
.bounty_type_expPrice {
  margin-top: 1rem;
  font-weight: 500;
  color: #48565f;
}

@media screen and (min-width: 600px) {
  .each_bountyTypes {
    width: 49%;
  }
}
