.section {
  padding: 8rem 0rem;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 100%;
}
.price_status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.price_status h1 {
  font-size: 1.5rem;
}
.tags {
  font-size: 0.5rem;
  width: fit-content;
  padding: 6px 8px;
  border-radius: 20px;
  background-color: rgb(5, 84, 134);
  color: white;
}
.title {
  font-size: medium;
  margin: 1rem 0rem;
  font-weight: 500;
}
.user_link {
  color: black;
  font-size: 0.8rem;
  font-weight: 500;
}
.user_date {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex-wrap: wrap;
}
.user_date span {
  font-size: 0.75rem;
  font-weight: 700;
}
.outer_user_data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.share_apply {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.navlinks {
  border-bottom: 2px solid black;
  margin: 1rem 0rem;
  padding: 0.5rem 0rem 0rem 0rem;
  display: flex;
  /* gap: 0.5rem; */
  overflow-x: auto;
}
.links {
  color: black;
  font-size: 0.9em;
  border-right: 1px solid black;
  padding: 0rem 0.65em 0.15rem 0.65em;
}
.actlinks {
  color: black;
  font-size: 0.9em;
  border-bottom: 2px solid green;
  border-right: 1px solid black;
  padding: 0rem 0.65em 0.15rem 0.65em;
}
.mainSection {
  padding: 2rem 0rem;
}

@media screen and (min-width: 720px) {
  .price_status h1 {
    font-size: 2.25rem;
  }
  .tags {
    font-size: 0.85rem;
  }
  .title {
    font-size: x-large;
  }
  .user_date span {
    font-size: small;
  }
}
