.section {
  padding: 8rem 0rem;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 100%;
}
.price_status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.price_status h1 {
  font-size: 1.5rem;
}
.tags {
  font-size: 0.5rem;
  width: fit-content;
  padding: 6px 8px;
  border-radius: 20px;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #a0b9ca;
  color: #313a41;
}
.title {
  font-size: medium;
  margin: 1rem 0rem;
  font-weight: 500;
}
.user_link {
  color: black;
  font-size: 0.8rem;
  font-weight: 700;
  width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.user_date {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex-wrap: wrap;
  width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.user_date span {
  font-size: 0.75rem;
  font-weight: 400;
  color: #374147;
  width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.outer_user_data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.share_apply {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.share_icon {
  font-size: 1.2rem;
  color: #374147;
}
.apply_btn {
  padding: 0.5rem 1rem 0.4rem 1rem !important;
}

.navlinks {
  border-bottom: 1px solid #374147;
  margin: 1rem 0rem;
  padding: 0.5rem 0rem 0rem 0rem;
  display: flex;
  overflow-x: auto;
}
.links {
  color: #374147;
  font-size: 0.9em;
  border-right: 1px solid #98b5c7;
  padding: 0.35rem 0.65em 0.25rem 0.65em;
}
.actlinks {
  color: black;
  background-color: #bfd3e1;
  font-size: 0.9em;
  border-bottom: 2px solid #048ce0;
  border-right: 1px solid #98b5c7;
  padding: 0.35rem 0.65em 0.25rem 0.65em;
}
.mainSection {
  padding: 2rem 0rem;
}

@media screen and (min-width: 720px) {
  .price_status h1 {
    font-size: 2.25rem;
  }
  .tags {
    font-size: 0.85rem;
  }
  .title {
    font-size: x-large;
  }
  .user_date span {
    font-size: small;
  }
}
