.filter_outerlayer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.seachFilter {
  width: 100%;
  font-size: small;
  padding: 8px 10px;
  outline: none;
  border-radius: 2px;
  border: none;
  background-color: #c1d7e6;
}
.sort {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}
.sort select {
  height: 30px;
  font-size: small;
  outline: none;
  width: 100%;
  border-radius: 8px;
  border: none;
  background-color: #c1d7e6;
  padding: 0rem 0.5rem;
}

@media screen and (min-width: 720px) {
  .sort select {
    width: fit-content;
  }
  .seachFilter {
    width: 320px;
  }
  .sort {
    width: fit-content;
  }
}
